{
  "arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true
}
